* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(240, 2%, 13%);
  color: hsl(0, 0%, 98%);
  line-height: 1.6;
}

header {
  background-color: hsl(240, 2%, 13%);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-title {
  font-size: 2rem;
  color: hsl(45, 100%, 72%);
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.mapbox {
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 1px solid hsl(0, 0%, 22%);
  overflow: hidden;
}

.mapbox figure {
  height: 100%;
}

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(1) invert(1);
}

.contact-form {
  background: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  padding: 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: max-content;
}

.form-title {
  margin-bottom: 12px;
  font-size: 1.5rem;
  background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: hsl(45, 100%, 72%);
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form-input {
  color: hsl(0, 0%, 98%);
  width: 30rem;
  font-size: 0.95rem;
  padding: 13px 20px;
  border: 1px solid hsl(0, 0%, 22%);
  border-radius: 14px;
  background: linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  outline: none;
  transition: border-color 0.3s ease;
}

.form-input::placeholder {
  color: hsl(0, 0%, 84%);
  opacity: 0.7;
}

.form-input:focus {
  border-color: hsl(45, 100%, 72%);
}

textarea.form-input {
  min-height: 100px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px;
}

textarea.form-input::-webkit-resizer {
  display: none;
}

.form-input:focus:invalid {
  border-color: hsl(0, 43%, 51%);
}

.form-btn {
  position: relative;
  width: 100%;
  background: hsl(0, 0%, 25%);
  color: hsl(45, 100%, 72%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: 0.95rem;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-btn:hover {
  background: hsl(45, 100%, 72%, 0.5);
  color: hsl(0, 0%, 100%);
}

.form-btn:active {
  background: hsl(45, 100%, 40%);
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1200px;
  background: hsla(240, 1%, 17%, 0.85);
  backdrop-filter: blur(10px);
  border: 1px solid hsl(0, 0%, 22%);
  border-radius: 15px 15px 0 0;
  box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 0;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar-link {
  color: hsl(0, 0%, 84%);
  font-size: 14px;
  padding: 15px 10px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-link:hover,
.navbar-link:focus {
  color: hsla(0, 0%, 84%, 0.7);
  transform: scale(1.1);
}

.navbar-link.active {
  color: hsl(45, 100%, 72%);
}

.hero__text {
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
}
.main-content {
  padding: 15px;
  padding-bottom: 90px;
  min-height: 100vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.toast__container {
  position: fixed;
  bottom: 32px;
  right: 16px;
  background-color: black;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(45, 100%, 72%);
  padding-inline: 32px;
  padding-block: 12px;
  border-radius: 6px;
  box-shadow: 0 0 10px 5px rgba(215, 215, 215, 0.257);
  transition: all 0.3s;
  z-index: 1000;
}

.toast__hide {
  transform: translateY(100px);
}

.toast_content {
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
    padding: 1.5rem;
  }

  .article-title {
    font-size: 1.8rem;
  }

  .form-input {
    width: 25rem;
  }

  .input-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .contact-form {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 1rem;
  }

  .article-title {
    font-size: 1.6rem;
  }

  .mapbox {
    height: 250px;
  }

  .form-input {
    width: 100%;
  }

  .navbar-list {
    gap: 15px;
  }

  .contact-form {
    padding: 1.5rem;
    max-width: max-content;
    margin: 0 auto;
  }

  .form-title {
    font-size: 1.3rem;
  }

  .input-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 14px;
  }

  .article-title {
    font-size: 1.4rem;
  }

  .container {
    max-width: 100%;
    padding: 0.5rem;
  }

  .mapbox {
    height: 200px;
  }

  .form-input {
    font-size: 0.85rem;
    padding: 10px 15px;
  }

  .form-btn {
    font-size: 0.85rem;
    padding: 10px;
  }

  .navbar {
    padding: 10px 0;
  }

  .navbar-list {
    gap: 10px;
  }

  .toast__container {
    bottom: 20px;
    right: 10px;
    padding-inline: 20px;
    padding-block: 10px;
  }

  .toast_content {
    font-size: 0.9rem;
  }

  .contact-form {
    max-width: max-content;
    margin: 0 auto;
  }

  .input-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 6px;
  }
}
